---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Lato', Arial, sans-serif;
$base-font-size:   1.2em;
$small-font-size:  $base-font-size * 0.4;
$base-line-height: 1.5em;

$spacing-unit:     2em;

// Original color scheme
// $text-color:       #464545;
// $background-color: #EBEBEB;
// $accent-color:     #29335C;
// $accent-color-light: lighten($accent-color, 40%);
// $accent-color-dark: darken($accent-color, 5%);

// New Rob-inspired color scheme
$accent-color2: hsl(245,35%,40%);
$text-color: adjust-color( $accent-color2, $hue: -120deg, $saturation: -80, $lightness: -18 );
$text-color-inverse: white;
$bg-color: adjust-color( $accent-color2, $hue: 120deg, $saturation: -20, $lightness: 55 );
$bg-color-alt: darken( $bg-color, 10% );
$accent-color1: adjust-color( $bg-color, $saturation: 32, $lightness: -59 );

// Img path
$image-assets: "../assets/img";

// Width of the content area
$content-width: 35em;

/*$on-palm:          600px;
$on-laptop:        800px;*/



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "mixins"
;
