---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Lato', Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     2em;

$text-color:       #464545;
$background-color: #fff;
$brand-color:      #999988;

$accent-color:     #420039;
$accent-color-light: lighten($accent-color, 40%);
$accent-color-dark: darken($accent-color, 5%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 5%);

$image-assets: "../assets/img";

// Width of the content area
$content-width:    600px;

/*$on-palm:          600px;
$on-laptop:        800px;*/



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "mixins"
;
