<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

<!-- this works -->
    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

<!-- working on this -->
<!--     <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
          {% for (page.title in trigger)}
          <a class="active">
            if file == "curent"}
            {% endif %}
        {% endfor %}
      </div>
    </nav> -->

<!-- from thomas -->
<!-- <div class="trigger">
    <% var menu = {
      "About": "about.html",
      "Writing": "writing.html"
    } %>

    <% for (var key in menu) { %>
    <li class="active">
      <a class="<%= menu[key] == file ? "current" : "" %>" href="./<%= menu[key] %>">
        <%= key %>
      </a>
    </li>
    <% } %>
  </div> -->


  </div>

</header>
