section.intro {
  width: 100%;
  margin: 0 .5em 2em 0;
  font-size: 1.5em;
}

section.intro p span::before {
  content: "{";
}

section.intro p span::after {
  content: "}";
}

section.intro p span.adjective {
  color: #912144;
}
