section.intro {
  width: 100%;
  margin: 0 .5em 2em 0;
  font-size: 1.25em;
}

section.intro p span::before {
  content: "{";
}

section.intro p span::after {
  content: "}";
}

section.intro p span#adjective-1 {
  color: #420039;
  // background-color: #912144;
}

section.intro p span#adjective-2 {
  color: #912144;
  // background-color: #E68522;
}

section.intro p span#adjective-3 {
  color: #47725E;
  // background-color: #C0BB38;
}
